@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

​ article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

​ body {
  line-height: 1;
}

​ ol,
ul {
  list-style: none;
}

​ blockquote,
q {
  quotes: none;
}

​ blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

​ table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.header {
  align-items: center;
  width: 100%;
  background-color: #F7F7F7;
  position: fixed;
}
.header__right {
  display: flex;
}
.header .container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 39px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
  padding-bottom: 37px;
}
.header .icon {
  width: 24px;
  height: 24px;
}
.header .burger-icon svg {
  position: absolute;
  width: 24px;
  height: 34px;
  right: 39px;
  z-index: 10;
}
.header__link {
  color: #737373;
}
.header__nav .menu {
  display: none;
}
.header--menu-active .header__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: white;
}
.header--menu-active .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 176px;
  min-height: 414px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.header--menu-active .menu li {
  margin-bottom: 30px;
}
.header--menu-active .menu li:last-child {
  margin-bottom: 98px;
}
.header--menu-active .header__cart,
.header--menu-active .header__search {
  display: flex;
  position: absolute;
  z-index: 10;
}
.header--menu-active .header__cart {
  right: 95px;
  top: 36px;
}
.header--menu-active .header__search {
  right: 142px;
  top: 36px;
}

.header__cart,
.header__search {
  display: none;
}

.burger-icon .burger-black {
  display: none;
}

.header-left__logo span {
  color: #252B42;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: absolute;
  z-index: 10;
}

.hero {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.92) 0%, rgba(255, 255, 255, 0) 100%), url(../img/cover.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 414px;
}
.hero .container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 39px;
  padding-top: 126px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h2 {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  margin-bottom: 61px;
  font-family: "Montserrat", sans-serif;
  max-width: 200px;
}
.hero p {
  width: 279px;
  font-size: 20px;
  color: #737373;
  margin-bottom: 44px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 67px;
  margin-right: 67px;
}
.hero .button {
  display: flex;
  flex-direction: column;
}

.hero__link {
  min-height: 48px;
  min-width: 185px;
  background-color: #FF7B47;
  border-radius: 37px;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

.hero__more {
  min-height: 48px;
  min-width: 154px;
  border-radius: 37px;
  border-color: #0D5C63;
  border: 1px solid;
  color: #0D5C63;
  text-align: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

.review {
  background-color: #17213C;
  font-family: "Montserrat", sans-serif;
}
.review .container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 75px 15px 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-review {
  padding: 0 20px;
  margin-bottom: 60px;
  max-width: 301px;
}
.title-review h3 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 57px;
  margin-bottom: 10px;
}
.title-review p {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
}

.list-client {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}
.list-client .client-item {
  max-width: 325px;
  background-color: #FFFFFF;
  padding: 30px 37px 30px 82px;
  position: relative;
  cursor: pointer;
}
.list-client .client-item img {
  width: 96px;
  position: absolute;
  top: 30px;
  left: -27.5px;
}
.list-client .client-item h4 {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.list-client .client-item span {
  font-size: 14px;
  font-weight: 600;
  color: #737373;
  letter-spacing: 0.2px;
  display: block;
  margin-bottom: 15px;
  line-height: 24px;
}
.list-client .client-item ul {
  display: flex;
  margin-bottom: 15px;
}
.list-client .client-item ul li .icon {
  width: 22px;
  height: 22px;
}
.list-client .client-item p {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.list-client .client-item:not(:last-child) {
  margin-bottom: 30px;
}

.team {
  background-color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
}
.team .container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 126px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-team {
  max-width: 310px;
  margin-bottom: 45px;
  padding: 0 24px;
}
.title-team h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  margin-bottom: 10px;
}
.title-team p {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 500;
}

.list-team .list-team__item {
  background-color: #FFFFFF;
  max-width: 331px;
  min-height: 291px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.list-team .list-team__item img {
  width: 128px;
  margin-bottom: 5px;
}
.list-team .list-team__item span {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-align: center;
  color: #FF7B47;
  display: block;
  margin-bottom: 5px;
}
.list-team .list-team__item h3 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
  color: #252B42;
  margin-bottom: 5px;
}
.list-team .list-team__item p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}
.list-team .list-team__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts {
  background: linear-gradient(to bottom, #252B42 70%, #FAFAFA 30%);
}
.contacts .container {
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 42px;
}
.top .info {
  padding: 50px 0;
  margin-bottom: 30px;
}
.top .info h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}
.top .info p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-align: center;
}
.top .map {
  padding: 50px 0;
}
.top .map img {
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.bottom .photo {
  height: 259px;
  background-image: url(../img/form-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  background-color: #fff;
  padding: 40px 50px;
}
.form h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 40px;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form label {
  color: #252B42;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.form form input {
  margin-bottom: 12px;
  padding: 11px 21px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}
.form form input:focus {
  outline: none;
}
.form form input[type=text]::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
}
.form form .select-wrapper1 {
  position: relative;
}
.form form .select-wrapper1::after {
  content: url(/img/check-mark.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  top: 11px;
}
.form form .select-wrapper2 {
  position: relative;
}
.form form .select-wrapper2::after {
  content: url(/img/check-mark.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  top: 11px;
}
.form form select {
  padding-top: 11px;
  padding-left: 18px;
  padding-bottom: 11px;
  padding-right: 34px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  appearance: none;
  position: relative;
  display: block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 100%;
}
.form form select:focus {
  outline: none;
}
.form form .department {
  margin-bottom: 12px;
}
.form form .time {
  margin-bottom: 40px;
}
.form form button {
  padding: 15px;
  background-color: #FF7B47;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
}

.features {
  padding-top: 148px;
  padding-bottom: 163px;
}
.features .container {
  max-width: 768px;
  padding: 0 43px;
  margin: 0 auto;
}
.features h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.features p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 45px;
}
.features .services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.features .services-list__item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.features .services-list__item {
  width: 328px;
  max-height: 112px;
  border: 1px solid #E2E2E2;
  padding: 20px;
  background-color: #FAFAFA;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 360px) {
  .features .services-list__item {
    padding: 20px;
    width: 150px;
    height: 50px;
  }
}
.features .services-list__item div {
  width: 72px;
  height: 72px;
  background-color: #0D5C63;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
@media only screen and (max-width: 360px) {
  .features .services-list__item div {
    display: none;
  }
}
.features .icon {
  width: 32px;
  height: 26px;
}
.features h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.features .end-list {
  margin-bottom: 0;
}

.about {
  padding-top: 100px;
  background: #FAFAFA;
  padding-bottom: 136px;
}
.about .container {
  max-width: 768px;
  padding: 0 43px;
  margin: 0 auto;
}
.about .jumps-list .icon {
  fill: #FF7B47;
}
.about .title {
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
.about .title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.about .title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0 auto;
  max-width: 225px;
}
.about .video {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.about .video img {
  min-width: 333px;
  min-height: 442px;
}
@media only screen and (max-width: 365px) {
  .about .video img {
    min-width: 150px;
    min-height: 200px;
    height: 100%;
    width: 100%;
  }
}
.about .video button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-color: #0D5C63;
  padding: 34.8px 36.8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-style: none;
}
.about .video button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #FAFAFA;
}
.about .slogan h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.about .slogan p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.about .slogan .jumps-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .slogan .jumps-list .icon {
  width: 32px;
  height: 32px;
  margin-right: 21px;
}
.about .slogan .jumps-list .jump-list__item {
  display: flex;
  flex-direction: row;
}
.about .slogan .jumps-list h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 5px;
}
.about .slogan .jumps-list p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer {
  padding-top: 80px;
}
.footer .container {
  max-width: 768px;
  padding: 0 43px;
  margin: 0 auto;
}
.footer .main-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 25px;
}
.footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 25px;
}
.footer .icons-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.footer .icons-list .icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.footer .main-list__item a {
  list-style: none;
  text-decoration: none;
}
.footer .main-list__item a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer ul li:last-child {
  margin-bottom: 30px;
}

.bottom {
  background: #FAFAFA;
}
.bottom .text {
  height: 98px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.bottom .text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

@media only screen and (min-width: 768px) {
  .header {
    background: transparent;
  }
  .header .container {
    padding-bottom: 0px;
    display: flex;
  }
  .header__left {
    display: flex;
    align-items: center;
  }
  .header__link {
    margin-right: 21px;
  }
  .header .logo {
    position: unset;
    margin-right: 74px;
  }
  .header__nav .menu {
    display: flex;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  .header--menu-active .header__nav {
    display: flex;
    background-color: transparent;
    position: unset;
  }
  .header--menu-active .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
    padding-top: 43px;
    min-height: 100px;
  }
  .header--menu-active .menu li {
    margin-bottom: 0px;
  }
  .header--menu-active .menu li:last-child {
    margin-bottom: 0px;
  }
  .header--menu-active .header__cart {
    right: 120px;
    top: 45px;
  }
  .header--menu-active .header__search {
    right: 162px;
    top: 45px;
  }
  .header .burger-icon .burger-black {
    display: block;
    top: 39px;
  }
  .header .burger-icon .burger-grey {
    display: none;
  }
  .hero .container {
    padding-bottom: 80px;
    display: block;
    height: 100vh;
  }
  .hero h2 {
    font-size: 58px;
    line-height: 80px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 35px;
    max-width: 295px;
  }
  .hero p {
    width: 376px;
    text-align: left;
    margin: 0 0 35px 0;
  }
  .hero .button {
    flex-direction: initial;
  }
  .hero .hero__link {
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .hero .hero__more {
    margin-bottom: 0px;
  }
  .list-client {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list-client .client-item {
    max-width: 310px;
  }
  .list-client .client-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .list-client .first {
    margin-right: 50px;
  }
  .features {
    padding-top: 148px;
    padding-bottom: 163px;
  }
  .features .container {
    max-width: 930px;
    padding: 0 43px;
    margin: 0 auto;
  }
  .features .slogans {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .features .services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
  }
  .features .services-list .services-list__item {
    margin-right: 25px;
  }
  .about .container {
    max-width: 930px;
    padding: 0 43px;
    margin: 0 auto;
  }
  .about .title {
    display: flex;
    flex-direction: column;
  }
  .about .title p {
    max-width: 500px;
  }
}
@media only screen and (min-width: 992px) {
  .title-review {
    max-width: 864px;
  }
  .title-review p {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    max-width: 470px;
    letter-spacing: 0.2px;
  }
  .list-client {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .list-client .client-item {
    max-width: 489px;
    background-color: #FFFFFF;
    padding: 30px 60px;
    position: relative;
    cursor: pointer;
  }
  .list-client .client-item img {
    width: 96px;
    position: absolute;
    top: 30px;
    left: -64px;
  }
  .list-client .first {
    margin-right: 0px;
  }
  .team {
    background-color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
  }
  .team .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 80px 15px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-team {
    max-width: 864px;
  }
  .title-team p {
    max-width: 470px;
  }
  .list-team {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 30px;
  }
  .list-team .list-team__item {
    background-color: #FFFFFF;
    max-width: 230px;
    min-height: 291px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .list-team .list-team__item img {
    width: 128px;
    margin-bottom: 5px;
  }
  .list-team .list-team__item span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
    text-align: center;
    color: #FF7B47;
    display: block;
    margin-bottom: 5px;
  }
  .list-team .list-team__item h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
    margin-bottom: 5px;
  }
  .list-team .list-team__item p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: center;
    color: #737373;
  }
  .list-team .list-team__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .contacts {
    background: linear-gradient(to bottom, #252B42 70%, #FAFAFA 30%);
  }
  .contacts .container {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding: 0 42px;
  }
  .top .info {
    padding-right: 126px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .top .info h3 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
  }
  .top .info p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-align: left;
  }
  .top .map {
    min-width: 414px;
    padding: 50px 0;
  }
  .top .map img {
    width: 100%;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom .photo {
    height: 259px;
    width: 100%;
  }
  .bottom .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .form {
    background-color: #fff;
    padding: 40px 50px;
  }
  .form h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 40px;
  }
  .form form {
    display: flex;
    flex-direction: column;
  }
  .form form label {
    color: #252B42;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
  }
  .form form input {
    margin-bottom: 12px;
    padding: 11px 21px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
  }
  .form form input:focus {
    outline: none;
  }
  .form form input[type=text]::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .form form .select-wrapper1 {
    position: relative;
  }
  .form form .select-wrapper1::after {
    content: url(/img/check-mark.svg);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    top: 11px;
  }
  .form form .select-wrapper2 {
    position: relative;
  }
  .form form .select-wrapper2::after {
    content: url(/img/check-mark.svg);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    top: 11px;
  }
  .form form select {
    padding-top: 11px;
    padding-left: 18px;
    padding-bottom: 11px;
    padding-right: 34px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    appearance: none;
    position: relative;
    display: block;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 100%;
  }
  .form form select:focus {
    outline: none;
  }
  .form form .department {
    margin-bottom: 12px;
  }
  .form form .time {
    margin-bottom: 40px;
  }
  .form form button {
    padding: 15px;
    background-color: #FF7B47;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
  }
}
@media only screen and (min-width: 1050px) {
  * {
    box-sizing: border-box;
    line-height: 1;
    scroll-behavior: smooth;
  }
  .features {
    padding-bottom: 100px;
  }
  .features .container {
    max-width: 1440px;
    padding: 0 190px;
    margin: 0 auto;
  }
  .features .slogans {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .features .slogans .paragraf {
    max-width: 509px;
  }
  .features .services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
  }
  .features .services-list .services-list__item {
    margin-right: 25px;
  }
  .about {
    padding-top: 100px;
    background: #FAFAFA;
    padding-bottom: 136px;
  }
  .about .container {
    max-width: 1440px;
    padding: 0 190px;
    margin: 0 auto;
  }
  .about .about-main {
    display: flex;
  }
  .about .about-main .video {
    margin-right: 120px;
  }
  .about .jumps-list .icon {
    fill: #0D5C63;
  }
  .review {
    background-color: #17213C;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
  }
  .title-review {
    max-width: 864px;
  }
  .title-review p {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    max-width: 470px;
    letter-spacing: 0.2px;
  }
  .list-client {
    display: grid;
    grid-template-columns: repeat(3, 489px);
    column-gap: 97px;
  }
  .list-client .client-item {
    max-width: 489px;
    background-color: #FFFFFF;
    padding: 30px 60px;
    position: relative;
    cursor: pointer;
  }
  .list-client .client-item img {
    width: 96px;
    position: absolute;
    top: 30px;
    left: -64px;
  }
  .list-client .client-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .list-client .first {
    margin-right: 0px;
  }
  .team {
    background-color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
  }
  .team .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 80px 15px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-team {
    max-width: 864px;
  }
  .title-team p {
    max-width: 470px;
  }
  .list-team {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 30px;
  }
  .list-team .list-team__item {
    background-color: #FFFFFF;
    max-width: 230px;
    min-height: 291px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .list-team .list-team__item img {
    width: 128px;
    margin-bottom: 5px;
  }
  .list-team .list-team__item span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;
    text-align: center;
    color: #FF7B47;
    display: block;
    margin-bottom: 5px;
  }
  .list-team .list-team__item h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
    margin-bottom: 5px;
  }
  .list-team .list-team__item p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: center;
    color: #737373;
  }
  .list-team .list-team__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .contacts {
    background: linear-gradient(to bottom, #252B42 70%, #FAFAFA 30%);
  }
  .contacts .container {
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding: 0 42px;
  }
  .top .info {
    padding-right: 126px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .top .info h3 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
  }
  .top .info p {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-align: left;
  }
  .top .map {
    min-width: 414px;
  }
  .top .map img {
    width: 100%;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
  .bottom .photo {
    height: unset;
    width: 364px;
  }
  .form {
    background-color: #fff;
    padding: 40px 50px;
    width: 100%;
  }
  .form h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 40px;
  }
  .form form {
    display: flex;
    flex-direction: column;
  }
  .form form label {
    color: #252B42;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
  }
  .form form input {
    margin-bottom: 12px;
    padding: 11px 21px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
  }
  .form form input:focus {
    outline: none;
  }
  .form form input[type=text]::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .form form .select-wrapper1 {
    position: relative;
  }
  .form form .select-wrapper1::after {
    content: url(/img/check-mark.svg);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    top: 11px;
  }
  .form form .select-wrapper2 {
    position: relative;
  }
  .form form .select-wrapper2::after {
    content: url(/img/check-mark.svg);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    top: 11px;
  }
  .form form select {
    padding-top: 11px;
    padding-left: 18px;
    padding-bottom: 11px;
    padding-right: 34px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    appearance: none;
    position: relative;
    display: block;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 100%;
  }
  .form form select:focus {
    outline: none;
  }
  .form form .department {
    margin-bottom: 12px;
  }
  .form form .time {
    margin-bottom: 40px;
  }
  .form form button {
    padding: 15px;
    background-color: #FF7B47;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  .footer {
    padding-top: 80px;
  }
  .footer .container {
    max-width: 1440px;
    padding: 0 190px;
    margin: 0 auto;
  }
  .footer .main-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer h3 {
    margin-bottom: 25px;
  }
  .footer p {
    margin-bottom: 25px;
  }
  .footer .icons-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .footer .icons-list .icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
  .footer .main-list__item a {
    list-style: none;
    text-decoration: none;
  }
  .footer .main-list__item a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .footer ul li:last-child {
    margin-bottom: 30px;
  }
  .bottom {
    background: #FAFAFA;
  }
  .bottom .text {
    height: 98px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .bottom .text span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }
}

/*# sourceMappingURL=style.css.map */
