.review {
    background-color: $reviewBackColor;
    font-family: $fontMontserrat;
    
}

.title-review {
    max-width: 864px;

    p {
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 20px;
        text-align: center;
        max-width: 470px;
        letter-spacing: 0.2px;
    }
}

.list-client {
    display: grid;
    grid-template-columns: repeat(3,489px);
    column-gap: 97px;

    .client-item {
        max-width: 489px;
        background-color: #FFFFFF;
        padding: 30px 60px;
        position: relative;
        cursor: pointer;
        
        img {
            width: 96px;
            position: absolute;
            top: 30px;
            left: -64px;
        }

    }

    .client-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .first {
        margin-right: 0px;
    }
    
}