.features {

    .container {
        max-width: 1050px;
        padding: 0 15px;
        margin: 0 auto;
    }

    padding-bottom: 100px;

    .slogans {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .paragraf {
            max-width: 509px;
        }
    }
    
    .services-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
    
    .services-list__item {
        margin-right: 25px;
    }
    }

}