.about {

    padding-top: 100px;
    background: #FAFAFA;
    padding-bottom: 136px;

    .about-main {
        display: flex;


        .video {
            margin-right: 120px;
   
        }

    }

    .jumps-list .icon {
        fill: #0D5C63;
    }

}