.team {
    background-color: #FAFAFA;
    font-family: $fontMontserrat;

    .container {
        max-width: 1050px;
        margin: 0 auto;
        padding: 80px 15px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.title-team {
    max-width: 864px;
    p {
        max-width: 470px;
    }
}

.list-team {
    display: grid;
    grid-template-columns: repeat(4,230px);
    gap: 30px;

    .list-team__item{
        background-color: #FFFFFF;
        max-width: 230px;
        min-height: 291px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        img {
            width: 128px;
            margin-bottom: 5px;
        }
        span {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 24px;
            text-align: center;
            color: #FF7B47;
            display: block;
            margin-bottom: 5px;
        }
        h3 {
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.1px;
            line-height: 24px;
            text-align: center;
            color: #252B42;
            margin-bottom: 5px;
        }
        p {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.2px;
            line-height: 20px;
            text-align: center;
            color: #737373;
        }
    }

    .list-team__item:not(:last-child){
        margin-bottom: 0px;
        margin-right: 0px;
    }
}
