$fontMontserrat: 'Montserrat', sans-serif;
$reviewBackColor: #17213C;
$teamBackColor: #FAFAFA;
$blackColor: #252B42;
$greyColor: #737373;
$orangeColor: #FF7B47;
$darkGreenColor: #0D5C63;
$whiteColor: #FFFF;
$baseFontSize: 14px;