.features {

    .container {
        max-width: 930px;
        padding: 0 43px;
        margin: 0 auto;
    }

    padding-top: 148px;
    padding-bottom: 163px;

.slogans {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;

.services-list__item {
    margin-right: 25px;
}
}


}