.about {
    padding-top: 100px;
    background: #FAFAFA;
    padding-bottom: 136px;

    .jumps-list .icon {
        fill: #FF7B47;
    }

.title {

    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;

h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $blackColor;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $greyColor;
        margin: 0 auto;
        max-width: 225px;
    }

}

.video {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    
img {
    min-width: 333px;
    min-height: 442px;
    @media only screen and (max-width: 365px) {
        min-width: 150px;
        min-height: 200px;
        height: 100%;
        width: 100%;
    }
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: $darkGreenColor;
    padding: 34.8px 36.8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: none;

        }
    button:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid #FAFAFA;
    }

}

.slogan {

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #252B42;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $greyColor;
        margin-bottom: 50px;
    }

    .jumps-list {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    .icon {
        width: 32px;
        height: 32px;
        margin-right: 21px;
    }

    .jump-list__item {
        display: flex;
        flex-direction: row;

    }

    h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $blackColor;
        margin-bottom: 5px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $greyColor;
    }

}
}
}